
$azul: #0064DA;

html{scroll-behavior:smooth}

body{
    font-family: inter;
}


button{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

h2 {
    font-weight: 400;
    font-size: 40px;
}

.nav_bar{
    padding-top: 10px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    padding-bottom: 15px;
}

.nav_bar .nav_left{
    width: 10%;
}

.nav_bar .nav_center{
    display: inline-flex;
    align-items: center;
    width: 60%;

    .nav_items{
        color: black;
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
    }

}

.nav_bar .nav_right{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;

    .btn_sign_in{
        text-decoration: none;
        color: black;
        font-size: 14px;
        border: 0;
        background-color: #ffffff;
        width: 80px;
        height: 30px;
    }

    .btn_sign_up{
        text-decoration: none;
        color: white;
        border: 0;
        background-color: black;
        width: 80px;
        height: 30px;
    }
}


.main_section{
    margin-top: 50px;
    width: 100%;
    text-align: center;

    .main_title{
        font-size: 55px;
        margin: 0;
        padding: 0;
    }

    .text{
        font-size: 20px;
    }

    .buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .main_section__btn_main-free_trial{
        text-decoration: none;
        background-color: $azul;
        color: white;
        font-size: 14px;
        width: 120px;
        height: 35px;
        border: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

    .main_section__btn_main-learn{
        text-decoration: none;
        background-color: black;
        color: white;
        font-size: 14px;
        width: 120px;
        height: 35px;
        border: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

    .video{
        width: 40%;
    }

    .btn_center{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .btn_watch{
        width: 100px;
        height: 40px;
        border: 0;
        background-color: $azul;
        color: white;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
        z-index: 10;
    }
    
}

.sec_section{
    width: 100%;
    text-align: center;
    margin-top: 150px;
    background-color: rgba(220, 220, 220, 0.493);

    .divider_class{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .divider{
        margin-top: -40px;
        width: 1px;
        height: 90px;
        background-color: black;
        display: flex;
        justify-content: center;
    }

    .sec_section__title{
        font-weight: 400;
    }

    .sec_section__text{
        padding-left: 200px;
        padding-right: 200px;
    }

    .sec_section__image{
        margin-top: 30px;
        width: 600px;
        padding-bottom: 20px;
    }

}

.explore_section{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    
    .explore_background{
        position: absolute;
        width: 100%;
        height: 400px;
        color: gainsboro;
        margin-top: -280px;
        z-index: -1;
    }

    .explore_section__texts{
        padding-left: 200px;
        padding-right: 200px;
    }
    
    .explore_section__cards{
        margin-top: 50px;
    }

    .card{
        width: 350px;
        height: 200px;
        display: inline-flex;
        flex-direction: column;
        border: 1px solid gainsboro;
        margin: 5px;
        padding-top: 20px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        z-index: 10;
    }
        .card_ball{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: $azul;
            display: block;
            transition-duration: .5s;
        }

        .ball{
            display: flex;
            justify-content: center;
            transition-duration: .5s;
        }

        .card_title{
            margin: 0;
            padding: 0;
            margin-top: 20px;
            margin-bottom: 5px;
            font-weight: 400;
            transition-duration: .5s;
        }

        .card_text{
            transition-duration: .5s;
        }

}


.query_section{
    width: 100%;
    text-align: center;
    margin-top: 200px;
    flex-direction: row;


    .query_section__header{
        margin-bottom: 100px;
    }

    .query_section__btn{
        background-color: white;
        border: 1px solid gainsboro;
        width: 100px;
        height: 30px;
        border-radius: 50px;
        box-sizing: border-box;
        margin-left: 5px;
        margin-right: 5px;
    }

    .query_section__btn-selected{
        background-color: $azul;
        color: white;
        border: 1px solid black;
        width: 120px;
        height: 30px;
        border-radius: 50px;
        box-sizing: border-box;
        margin-left: 5px;
        margin-right: 5px;
    }

    .query_section__cards{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 200px;
        flex-flow: wrap;
    }

    .query_card{
        min-width: 200px;
        min-height: 150px;
        width: 300px;
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 150px;

        .query_card__image{
            width: 100%;
            height: 140px;
            background-color: gainsboro;
            margin-bottom: 20px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .query_buttons{
            display: flex;
        }

        .query_card_btn-dev{
            background-color: white;
            color: black;
            border: 1px solid gainsboro;
            border-radius: 50px;
            width: 130px;
            height: 30px;
            margin-right: 20px;
        }

        .query_card_btn-block{
            background-color: $azul;
            color: white;
            border: 1px solid black;
            border-radius: 50px;
            width: 100px;
            height: 30px;
        }

        .query_card__text{
            text-align: left;
        }

        .query_card_bottom{
            margin-top: 20px;
            display: flex;
            justify-content: left;
            align-items: center;


            .query_card__author{
                background-color: gainsboro;
                width: 25px;
                height: 25px;
                border-radius: 100%;
            }

            .query_card__info{
                padding-left: 10px;
            }
        }
    }
}

.get_started{
    width: 100%;
    height: 300px;
    background-color: $azul ;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .get_started__title{
        padding-left: 50px;
        color: white;
    }

    .get_started__btn{
        margin-right: 50px;
        background-color: white;
        color: $azul;
        width: 100px;
        height: 40px;
        border: 0;
        font-size: 14px;
    }

}

.footer{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.144);
    display: flex;
    

    .footer_esquerda{
        width: 40%;
        margin-left: 50px;

        .footer_email{
            width: 120px;
            height: 20px;
        }

        .btn_subscribe{
            background-color: black;
            color: white;
            border: 0;
            width: 90px;
            height: 25px;
        }

    }

    .footer_meio_esquerda{
        margin-top: 20px;
        width: 15%;
    }

    .footer_meio_direita{
        margin-top: 20px;
        width: 15%;
    }

    .footer_direita{
        margin-top: 20px;
    }

}

.titulo_footer{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}

.footer_items{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

.back_top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: $azul;
    color: white;
    border: 0;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    z-index: 10;
    transition-duration: .5s;
}




// Hovers

.back_top:hover{
    background-color: black;
    transition-duration: .5s;
}

.nav_bar .nav_center .nav_items:hover{
    font-weight: 600;
    transition-duration: .5s;
}

.main_section .main_section__btn_main-free_trial:hover{
    background-color: black;
    transition-duration: .5s;
}

.main_section .main_section__btn_main-learn:hover{
    background-color: $azul;
    transition-duration: .5s;
}

.main_section .btn_watch:hover{
    background-color: black;
    transition-duration: .5s;
}


.explore_section .card:hover {
    background-color: $azul;
    transition-duration: .5s;
}

.explore_section .card:hover .card_ball{
    background-color: white;
    transition-duration: .5s;
}

.explore_section .card:hover .card_title{
    color: white;
    transition-duration: .5s;
}

.explore_section .card:hover .card_text{
    color: white;
    transition-duration: .5s;
}

.query_section .query_section__btn:hover{
    background-color: $azul;
    color: white;
    transition-duration: .5s;
}

.query_section .query_card .query_card_btn-dev:hover{
    background-color: $azul;
    color: white;
    transition-duration: .5s;
}

.query_section .query_card .query_card_btn-block:hover{
    background-color: white;
    color: $azul;
    transition-duration: .5s;
}

.get_started .get_started__btn:hover{
    background-color: black;
    color: white;
    transition-duration: .5s;
}

.titulo_footer:hover{
    font-weight: 600;
}

.footer_items:hover{
    font-weight: 600;
}

.footer .footer_esquerda .btn_subscribe:hover{
    background-color: $azul;
    transition-duration: .5s;
}

.nav_bar .nav_right .btn_sign_in:hover{
    background-color: $azul;
    color: white;
    transition-duration: .5s;
}

.nav_bar .nav_right .btn_sign_up:hover{
    background-color: $azul;
    transition-duration: .5s;
}





