@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* font para utilizar */
html body{
font-family: 'Lato', sans-serif;
background-color: black;
}

body{
    display: flex;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
}


/*
.menu{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 70px;
    background-color: black;
}


.nav_bar{
    flex-flow: row;
}



.main_logo{
    text-decoration: none;
    color: red;
    text-transform: uppercase; 
    font-family: lato;
    font-weight: 700;
    font-size: 22px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}


.menu_item{
    padding: 10px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
}

.nav_right{
    justify-content: flex-end;
    padding: 20px;
}

.search_item{
    padding: 5px;
}

.notification_item{
    padding: 5px;
}


.sidebar{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 20px;
    width: 200px;
    height: 100%;
}

.side_items{
    display: flex;
    flex-flow: column;
}

.side_menu_item{
    font-family: lato;
    padding-right: 40px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    text-align: start;
    border-bottom: 1px solid white;
    width: 100px;
}

.slide{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("assets/Title-Image.png");
}


.sec_movie{
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
}


*/


.sidebar{
    background-color: black;
    width: 365px;
    height: 100vh;
}

.main{
    overflow: auto;
}



.main_logo{
    width: 100%;
    color: red ;
    font-family: lato;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.side_menu_item{
    text-decoration: none;
    font-family: lato;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid white;

    background: linear-gradient(to right, red 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.side_menu_item:hover{
    background-position: left bottom;
}


.menu_item:hover{
    font-weight: bold;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
}

.menu{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.nav_bar{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.nav_right{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.search_item{
    padding: 10px;
}

.notification_item{
    padding: 10px;
}

.menu_item{
    padding: 15px;
    text-decoration: none;
    color: white;
}


.side_items{
    display: flex;
    flex-direction: column;
}

.side_menu_item{
    padding: 16px;
}



.slide{
    position: relative;
    height: 630px;
    width: auto;
    background-image: url(../assets/title_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
}

.film_title{
    display: flex;
    text-decoration: none;
    font-size: 55px;
    font-family: lato;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding-bottom: 20px;
}

.btn_play{
    display: flex;
    height: 40px;
    padding: 10px 25px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    transition-duration: .5s;
}

.btn_play:hover{
    background-color: gainsboro;
    transition-duration: .5s;
    
}

.slide_content{
    display: relative;
    justify-content: flex-start;
    align-items: flex-end;
}


.btn_info{
    display: flex;
    height: 40px;
    padding: 10px 25px;
    color: white;
    background-color: rgb(165, 165, 165, 0.5);
    opacity: 0.80;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    transition-duration: .5s;
}

.btn_info:hover{
    background-color: gray;
    transition-duration: .5s;
}

.btn_play::before{
    content:url('../assets/chevron-right.png');
    width: 20px;
    height: 20px;
    margin-top: -5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn_info::before{
    content:url('../assets/info.png');
    width: 20px;
    height: 20px;
    margin-top: -5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.sec_movies{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.sec_title{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}

.sec_movie{
    display: inline-flex;
    flex-flow: row;
    justify-content: space-around;
    padding-right: 15px;
    margin-bottom: 50px;
}



.sec_movies_class{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 50px;
}

.sec_movies{
    display:inline-flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-right: 20px;
    width: 300px;
    height: auto;
  
}

.imagens_slide{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    overflow-x: auto;    
}

.film_title{
    position: absolute;
    top: initial;
    bottom: 70px;
    right: initial;
    left: 50px;
    width: 100%;
}

.btn_play{
    position: absolute;
    top: initial;
    bottom: 30px;
    right: initial;
    left: 50px;
}

.btn_info{
    position: absolute;
    top: initial;
    bottom: 30px;
    right: initial;
    left: 160px;
}














