
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-family: 'Vollkorn', serif;
}


body{
    max-width: 42em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: left;
    font-size: 0.8em;
}

.titulo_paragrafo{
    text-align: left;
    font-size: 1.3em;  
}



.menu-nav{
    position: flex;
    height: 3em;
    padding-top: 2em;
    padding-bottom: 4em;
}

.menu_item{
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 15px 15px;
    color: gainsboro;
}


.menu_item_active{
    background-color: black;
    color: white;
}

.menu_item:hover{
    background-color: gainsboro;
    color: black;
}

.menu_item_active:hover{
    background-color: black;
    color: white;
}

.paragrafo{
    background-color: black;
    color: white;
    border: 0;
    border-radius: 5px;
}

.paragrafo_fundo{
    padding: 20px;
}

.follow{
    text-decoration: underline;
    color: grey;
}

.cartao{
    border-bottom: 1px solid black;
    display: block;
    padding: 0;
    margin: 0;
    padding-top: 1em;
}

.section03{
    display: inline-block;
    width: 100%;
    padding-bottom: 2em;
}

.thumb{
    display: inline-block;
    text-align: left;
    margin: 0;
    width: 20%;
    padding-right: 1rem;
}

.imagem{
    width: 100%;
}

.body_cartao{
    display: inline-block;
    width: 70%;
}

.titulo_cartao{
    text-align: left;
    display: block;
    margin: 0;
    padding: 0;
}

.texto_cartao{
    display: inherit;
    width: auto;
    height: auto;
}

.destaque{
    color: yellow;
}

.list_item{
    text-align: left;
    font-size: 0.8em
}